
    
  <section class="container fonte ">
    <div *ngFor="let restaurant of restTeste | async;let i = index">
    <div id="divMaster" class="row no-gutters">
      <div class="container text-center col-6 col-md-4 " *ngIf="restaurant">
        <h3 class="mr-5 " >{{ restaurant.name }}</h3>
       
        <img class="mr-5 " id="img1" src="{{restaurant.imagePath}}" />
   
    
    </div>
    <div class="col-sm-6 col-md-8 ">
                <h6 class="ml-5">Categoria</h6>
                <p class="ml-5">{{restaurant.category}}</p>
                <h6 class="ml-5">Quem somos</h6>
                <p class="ml-5">{{restaurant.about}}</p>
                <h6 class="ml-5"> Horários</h6>
                <p class="ml-5">{{restaurant.hours}}</p>    
    </div>

    <div class="container text-center">
      <div class="row">
          <div class="col-6">
             <a [routerLink]="['menu']" routerLinkActive="active"
             class="btn btn-outline-danger btn-block ">Menu</a> 
          </div>
          <div class="col-6">
              <a [routerLink]="['reviews']"  routerLinkActive="active"
              class="btn btn-outline-danger btn-block">Avaliações</a> 
          </div>
        </div>
      </div>
    </div>
    </div><hr>
    <!-- NAV-->
 


 </section>

 <div class="container">
  <router-outlet></router-outlet>
 </div>