<div class="">

 <app-header></app-header>
    <!-- Fim do header -->
  
    <!-- Full Width Column -->
    <div class="container">
     
      <div class="container">
  
       <router-outlet></router-outlet>
  
      </div>
    </div>
  
    <app-snackbar></app-snackbar>>
  
   
    <footer class="footer mt-auto  py-3">
      <div class="container text-center">
        <span class="text-muted">Desenvolvido com <strong> Angular </strong>. Por<strong>   Irlan Senne</strong></span> 
      </div>
    </footer>

   
  </div>
  