#divRests{
    width: 500px;
    height: 150px;
   
  }
  img{
      widows: 200px;
  }
  #p1{
      color: rgb(122, 119, 119);
  }
  h5{
      color: brown;
      font-family: 'Baloo Chettan 2', cursive;
  }