.fonte{
    font-family: 'Baloo Chettan 2', cursive;
}
h1{
    font-weight: bold;
    color: rgb(172, 106, 106);
}
p{
    font-size: 20px;
}
a{   
    background-color: rgb(151, 60, 60);  
    color: white;
}
a:hover{
    background-color: rgb(160, 95, 95);
    color: white;
}
.master{
    box-shadow: 5px 5px 20px 5px rgb(151, 60, 60);  
}
img{
   width: 25%;
   position: relative;
   top: auto;
   left: 400px;
   opacity: 0.7;
}